__pycache__/
*.pyc
.venv/
.env.local
.DS_Store

samples/
out_image1/
out_images_sample4/
.pipeline_cache/
.app_runtime/
pipeline_output*/
mvp_export*/
mvp_output/
smoke_server_export*/
smoke_*/
tmp/
tmp_*/
tmp_debug_output/
/smoke_multi_image*/
/tmp_tune_*/
/tmp_validation_*/
20[0-9][0-9][0-9][0-9][0-9][0-9]_*/
*_img_*/
generated_edb_pair*/
ui_prototype/prototype_data.js
ui_prototype/generated_session.js
local_test_output/
dist*/
build/
app_server_stdout.log
app_server_stderr.log
.app_runtime_server_pid.txt

generated_*.edb
*.edb
test_output*/
test_output_*/
*.png
*.jpg
*.jpeg
!assets/
!assets/app_icon.png
