__pycache__/
*.pyc
.venv/

samples/
out_image1/
out_images_sample4/
.pipeline_cache/
smoke_pipeline_output/
pipeline_output_smoke/
pipeline_output_test/
pipeline_output_perspective/
mvp_export*/
tmp_debug_output/
ui_prototype/prototype_data.js
ui_prototype/generated_session.js
local_test_output/

generated_*.edb
smoke_pipeline_output/
pipeline_output_smoke/
pipeline_output_test/
tmp_debug_output/
